.div-for-mat-tab-group {
    text-align: center;
}

.stretched-tabs {
    display: inline-block;
    min-width: 800px;
    max-width: 50%;
}
.div-mat-tab {
    text-align: left;
    min-height: 88vh;
}